body {
  margin: 0;
  padding: 0;
  display: flex;
  box-sizing: border-box;
}
nav {
  width: 20vw;
  height: 100vh;
  background-color: #d7e8d4;
}

header {
  width: 80vw;
  height: 20vh;
  background-color: greenyellow;
}

article {
  width: 60vw;
  height: 60vh;
  background-color: antiquewhite;
}

footer {
  width: 60vw;
  height: 20vh;
  background-color: greenyellow;
}
.container {
  display: flex;
}
aside {
  width: 20vw;
  height: 80vh;
  background: #d7e8d4;
}
